@use '../design_system';

// Стили для основной части сайта
.main{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 4.5rem;

// Стили для 1-ого блока main
    .main__block1{
        height: 31%;
        width: 100%;

        .main__block-container{
            @include design_system.container;

            .main__block1-left{
                height: 90%;
                width: 40%;

                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    height: 80%;
                    width: 85%;
                }
            }

            .main__block1-right{
                height: 90%;
                width: 60%;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .main__block1-right-title{
                    margin-top: 4rem;
                    @include design_system.title;
                }

                .main__block1-right-inf{
                    width: 90%;
                    height: 70%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 2rem;

                    .inf-title{
                        @include design_system.arial_regular_L;
                    }

                    .inf-text{
                        .inf-text-argument{
                            display: flex;

                            img{
                                width: 10%;
                                height: 3.5rem;

                                margin-top: 0.3rem;
                            }

                            .text{
                                width: 20%;
                                @include design_system.arial_regular_M;

                            }

                            .text-mini{
                                width: 70%;
                                @include design_system.arial_regular_S;
                            }
                        }
                    }

                    .inf-btn{
                        width: 80%;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &-order{
                            @include design_system.btn_contact;
                            color: design_system.$White_00;
                            text-decoration: none;
                        }

                        .pin{
                            @include design_system.pin_M;
                        }
                    }
                }
            }
        }
    }
    
    // Стили для 2-ого блока main
    .main__block2{
        display: flex;
        justify-content: space-between;
        gap: 0.1rem;

        height: 31%;
        width: 100%;

        .main__block-container{
            @include design_system.container;

            box-shadow: none;
            gap: 2.5rem;

            .main__block2-leftImg{
                height: 100%;
                width: 24%;

                img{
                    width: 100%;
                    height: 43%;
                }
            }

            .main__block2-central{
                height: 100%;
                width: 45%;
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .main__block2-central-service{
                    width: 90%;
                    height: 50%;

                    padding-inline: 1rem;

                    display: flex;
                    justify-content: space-between;
                    gap: 0.1rem;
                    
                    
                    border: solid design_system.$Black_00;
                    border-radius: 1rem;
                    box-shadow: 0 0 0.5rem design_system.$Black_00;

                    &:hover{
                        border: solid design_system.$Orange_00;
                    }

                    .service-text{
                        width: 53%;
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        color: design_system.$White_00;


                        .service-title{
                            @include design_system.title;
                        }

                        .service-mini{
                            display: flex;
                            justify-content: space-around;

                            border: solid balck;

                            img{
                                width: 17%;
                                height: 35%;

                                align-self: center;
                                

                                border-radius: 1rem;
                                border: solid 0.3rem design_system.$Grey_01;
                                background-color: design_system.$Grey_01;
                                border: solid rrgb(199, 210, 35)
                            }

                            .service-mini-text{
                                width: 70%;
                                @include design_system.arial_regular_S;
                                padding-left: 1rem;
                                font-style: italic;
                            }
                        }
                    }

                    .service-text-mini{
                        width: 47%;

                        ul{
                            width: 100%;
                            height: 100%;

                            box-sizing: border-box; 
                            margin: 0;      
                            padding: 0; 


                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 0.5rem;

                            list-style: none;

                            li{
                                width: 95%;
                                height: 20%;

                                padding: 0.2rem;
                                text-align: center;
                                align-content: center;

                                background-color: design_system.$Grey_00;
                                border-radius: 1rem;

                                @include design_system.arial_regular_S;
                                font-size: 1rem;

                                &:hover, &.hovered{
                                    background-color: design_system.$White_00;
                                    border: solid 0.1rem design_system.$Black_00;
                                }
                            }
                        }
                    }
                }

                .main__block2-central-service_last{
                    display: flex;

                    height: 10%;
                    width: 100%;


                    .service_last-btn{
                        margin: 0 auto;

                        align-self: end;

                        text-decoration: none;
                        @include design_system.btn_contact2;
                    }
                }
            }

            .main__block2-right{
                height: 100%;
                width: 24%;

                display: flex;
                flex-direction: column;
                gap: 2.5rem;

                .block2-right_global-card{
                    width: 100%;
                    height: 42%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .block2-right_online-card{
                    width: 100%;
                    height: 42%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .card-advantages{
                    width: 100%;
                    height: 31%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    border-bottom: solid 0.1rem design_system.$Grey_03;

                    &_icons{
                        width: 100%;
                        height: fit-content;
                        
                        display: flex;
                        justify-content: center;
                        gap: 2rem;

                        i{
                            background-color: design_system.$Grey_03;
                            border: solid 0.5rem design_system.$Grey_03;
                        }
                    }

                    &_text{
                        width: 100%;
                        height: fit-content;
                        
                        @include design_system.arial_regular_S;
                        margin: 0;
                        padding: 0;
                        font-size: 1rem;

                        text-align: center;
                    }
                }
            }
        }
    }

    // Стили для 3-ого блока main
    .main__block3{
        height: 31%;
        width: 100%;

        .main__block-container{
            @include design_system.container;
            flex-direction: column;
            justify-content: space-around;
            

            .main__block3-title{
                width: 100%;
                height: 10%;

                .block3-title__text{
                    @include design_system.title;
                }
            }

            .main__block3-guide-container{
                width: 100%;
                height: 38%;

                display: flex;
                justify-content: space-around;
                align-items: center;

                .guide-container__each{
                    width: 28%;
                    height: 95%;

                    display: flex;
                    justify-content: center;
                    align-items: center;  

                    border-radius: 2rem;
                    box-shadow: 0.5rem 0.5rem 2.5rem design_system.$Black_00;

                    &:hover{
                        box-shadow: none;
                        transition: 0.4s ease-out;
                        cursor: pointer;
                    }

                    .guide-container__each-text{
                        height: 20%;
                        width: 80%;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        text-align: center;
                        text-decoration: none;

                        @include design_system.arial_regular_S;

                        &:hover{
                            color: design_system.$Grey_01;
                        }
                    }
                }
            }
        }
    }

    .text{
        @include design_system.arial_regular_S;
    }
}